.attribution {
    position: absolute;
    left: 0;
    bottom: 15px;
    font-size: 0.75rem;
    color: white;
    padding: 0px 25px;

    a {
        color: hsl(200, 100%, 50%);
        text-decoration: none;
        transition: color 250ms;

        &:hover {
            color: hsl(200, 100%, 40%);
        }
    }
}