$rock-gradient: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
$paper-gradient: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
$scissors-gradient: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));

$rock-color: hsl(349, 71%, 45%);
$paper-color: hsl(230, 89%, 55%);
$scissors-color: hsl(39, 89%, 40%);

$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);
$background-gradient: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));